body{
    background:  #7C1D31; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right,  #942a41,  #7C1D31);
    background: linear-gradient(to right,  #942a41,  #7C1D31);
    height: 300vh;
    width: 100%;
    margin: 0;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
}
nav{

    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    align-items: center;
    position: sticky;
    height: 3%;
    background:  #7C1D31;
    filter: drop-shadow(0px 2px 6px #8b233a);
    top: 0;
    width: 100%;
    /* border-bottom: 2px solid white; */
}
nav > ul {
    display: flex;
    list-style-type: none;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    text-decoration: underline;
    padding: 0;
}
nav > ul > li > a {
    color: white;
}
#logo {
    width: 30%;
    height: 30%;
    background-color: white;
    justify-content: center;
    align-items: center;
    display: flex;
}
#logo > a {
    font-size:100px;
    color: #7C1D31;
    font-weight: 900;
}
.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 5%;
    aspect-ratio: 1;
    /* border: black solid 2px; */
    justify-content: flex-start;
    align-items: center;
    /* margin-top: 20%; */
    padding-top: 7%;
}
#about{
    padding-right: 10%;
    padding-left: 10%;
    font-size: large;
    text-align: center;
    font-weight: bold;
}